<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recipes</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .main-header-container {
        background: #13141f;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 10px;
    }

    .main-logo { 
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        color: rgb(255, 255, 255);
    }

    .main-logo-text {
        margin: 10px;
        padding: 10px 0;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: Roboto Slab, serif;
    }

    body{
        background-color:rgb(195, 195, 177);
    }

    .search-form {
        border: 2px solid black;
        border-radius: 4px;
        margin: 0 auto;
        max-width: 30vw;
        display: flex;
        justify-content: space-between;
        transition: all 360ms ease-in-out;
    }

    .search-input,
    .search-button {
        border: none;
        background: none;
        outline: none;
        padding: 3px;
    }

    .search-input{
        width: 100%;
    }

    .search-form:focus-within {
        border-color: blue;
        background-color: white;
    }

    .search-form:focus-within .search-button {
        color: blue;
    }

    .search-container {
        padding: 0.8vw;
    }

    .main-content-container {
        display: flex;
        justify-content: center;
    }

    .main-content-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        padding-top: 0;
        width: 70vw;
        min-width: 250px;
    }

    .recipe img {
        max-width: 100%;
    }

    .recipe {
        background-color: white;
        box-shadow: -5px 5px 10px rgba(0,0,0, 30%);
        transition: all 350ms ease-in-out;
        transform: scale(1);
    }
    
    .recipe-list-item {
        max-width: 640px;
    }
    
    .recipe-list-item:hover {
        transform: scale(1.02);
        box-shadow: -8px 8px 17px rgba(0,0,0, 35%);
    }
</style>