<div class="recipe recipe-list-item">
    <div class="recipe-cover"><img src="https://placehold.co/1280x700/0000ff/FFF.png" alt="temporario" ></div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet consectetur.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fa-solid fa-user"></i>
            Marco Moura
        </span>
        <span class="recipe-author-item">
            <i class="fa-regular fa-calendar"></i>
            16/10/2026 as 11:21
        </span>
        <span class="recipe-author-item">
            <a href="http://">
                <i class="fa-solid fa-layer-group"></i>
                <span>
                    Cafe da manhã
                </span>
            </a>
        </span>
        
    </div>

    <div class="recipe-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, omnis.
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3>
                <i class="fa-solid fa-alarm-clock"></i>
                Preparo
            </h3>
            <div class="recipe-meta-text">
                0 minutos
            </div>
        </div>
        
        <div class="recipe-meta recipe-servings">
            <h3>
                <i class="fa-solid fa-pizza-slice"></i>
                Porcoes
            </h3>
            <div class="recipe-meta-text">
                0 porcoes
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a href="" class="recipe-read-more button-dark button-full-width">
            
        <i class="fa-solid fa-eye"></i>
        <span>Ver mais...</span>

        </a>
</footer>
</div>