{% include "recipes/partials/head.html" %}
<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content-list">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover"><img src="https://placehold.co/1280x700/0000ff/FFF.png" alt="temporario" ></div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Lorem ipsum dolor sit amet consectetur.</h2>
                </div>

                <div class="recipe-author">
                    <span class="recipe-author-item">
                        <i class="fa-solid fa-user"></i>
                        Marco Moura
                    </span>
                    <span class="recipe-author-item">
                        <i class="fa-regular fa-calendar"></i>
                        16/10/2026 as 11:21
                    </span>
                    <span class="recipe-author-item">
                        <a href="http://">
                            <i class="fa-solid fa-layer-group"></i>
                            <span>
                                Cafe da manhã
                            </span>
                        </a>
                    </span>
                    
                </div>

                <div class="recipe-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis asperiores saepe voluptatem natus, eligendi necessitatibus sequi nulla quaerat, deserunt voluptate similique quisquam atque animi debitis iure est aspernatur porro veritatis!</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
